NMEA2NodeRed.txt
[{"id":"52228ddc.131534","type":"function","z":"dcadf972.a9f08","name":"NMEA: main filter","func":"/* \n   Filter NMEA sentences. Known sentences:\n   $GPAAM, $GPAPB, $GPBOD, $GPGGA, $GPGLC, $GPGLL, \n   $GPGSA, $GPGSV, $GPRMB, $GPRMC, $GPVTG, $GPXTE, \n   $GPZDA, $IIXDR, $SDDBT, $SDDPT, $SDHDG, $SDMTW, \n   $SDVHW, $SDVLW, $WIMWD, $WIMWV\n   \n   Function: Since the checksum field isn't separated by comma, do that first. (replace '*' by ',@')\n   The switch command is used to control the NMEA sentence forwarding.\n   Since IIXDR has variable length is must be treated separately. Therefore there are two node outputs.\n*/\n \n\"use strict\"\n\nvar Nmea_Id = '';\n\n// The last field is separated by an asterix. Replace it by a comma to let work string.split() properly.\n\nmsg.Satz = msg.payload.replace(\"*\", \",@\");\n\nmsg.Satz = msg.Satz.split(\",\");\n\nNmea_Id = msg.Satz[0];\n\nmsg.Nmea_Id = Nmea_Id;\n\nswitch (Nmea_Id) {\n    case '$GPAAM': return [ msg,  null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];\n                            \n    case '$GPAPB': return [ null, msg,  null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPBOD': return [ null, null, msg,  null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPGGA': return [ null, null, null, msg,  null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPGLC': return [ null, null, null, null, msg,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPGLL': return [ null, null, null, null, null,\n                            msg,  null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPGSA': return [ null, null, null, null, null,\n                            null, msg,  null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPGSV': return [ null, null, null, null, null,\n                            null, null, msg,  null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPRMB': return [ null, null, null, null, null,\n                            null, null, null, msg,  null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPRMC': return [ null, null, null, null, null,\n                            null, null, null, null, msg,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPVTG': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            msg,  null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPXTE': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, msg,  null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPZDA': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg,  null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$IIXDR': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, msg,  null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$SDDBT': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, msg,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$SDDPT': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            msg,  null, null, null, null,\n                            null, null, msg];                            \n\n    case '$SDHDG': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, msg,  null, null, null,\n                            null, null, msg];                            \n    \n    case '$SDMTW': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg,  null, null,\n                            null, null, null];                            \n\n    case '$SDVHW': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, msg,  null,\n                            null, null, msg];   \n                            \n    case '$SDVLW': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, msg,\n                            null, null, msg];   \n                            \n    case '$WIMWD': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            msg,  null, msg];   \n\n    case '$WIMWV': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, msg, msg];   \n                            \n    default :      return   null;\n    \n/*    \n    [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, msg];   \n */\n\n}\n\n","outputs":23,"noerr":0,"x":208.00001525878906,"y":559.0666046142578,"wires":[[],["2e56675e.213948","5253f12f.9c5218","2d745c90.f289d4","ebfbb77f.322348","71056213.0948d4","b0241d9e.b8787","e9650e7c.b6d4e8","72709359.a9442c"],[],["383c8f63.862828","790afbd7.3654ec","ea51a00a.bdc058","2d9a8d4.ca16072","280c7f71.9397d"],[],[],[],[],["d226219c.7afe7","fe71afe3.a3853","e10f8eca.77985","6beb0a5.8ca2674","518ee0be.1270a8","9dd9f599.4fc9b","c9f48ea5.bbc318","c3a5f175.8c11e8","c1cc9a22.1cbdb","596a9de6.3d287c"],["73441ae9.b40a4c","6bdcb3fd.49daa4","6e89ec4b.4597bc","3403daf.c2cb226"],["2130a8aa.64d14","b6806f11.d449b8","89cf9c1d.dd772"],[],[],["2d45a331.50e0ec"],["2a55966b.9a9ae2","3f5e9d86.994432","a24c1e8e.8ca888"],["3477d8db.5a6e48"],["bddd33ed.693d88"],["146651da.31421e"],["f57075d8.2c12c8"],["bb3c46cc.6266c"],[],[],[]]},{"id":"343f79b.abaa206","type":"ui_text","z":"dcadf972.a9f08","group":"b0652885.6c6d8","order":0,"width":"0","height":"0","name":"LAT","label":"LAT","format":"{{msg.payload}}","layout":"row-spread","x":1398,"y":591.0666656494141,"wires":[]},{"id":"c7396282.341eb8","type":"ui_text","z":"dcadf972.a9f08","group":"b0652885.6c6d8","order":0,"width":0,"height":0,"name":"LON","label":"LON","format":"{{msg.payload}}","layout":"row-spread","x":1398,"y":623.0666656494141,"wires":[]},{"id":"73441ae9.b40a4c","type":"function","z":"dcadf972.a9f08","name":"convert+format LAT","func":" //convert and format latitude\n \n        var value_in = msg.Satz[3];\n    \n        msg.payload = value_in.substr(0,2) + '°' + ' ' + value_in.substr(2,5) + \"' \" + msg.Satz[4];\n     \n        return [msg];\n ","outputs":1,"noerr":0,"x":1213,"y":591.0666656494141,"wires":[["343f79b.abaa206"]]},{"id":"6bdcb3fd.49daa4","type":"function","z":"dcadf972.a9f08","name":"convert+format LON","func":"// convert and format longitude\n\n  var value_in = msg.Satz[5];\n        \n  msg.payload = value_in.substr(0,3) + '°' + ' ' + value_in.substr(3,5) + \"' \" + msg.Satz[6];\n  \n  return msg;\n ","outputs":1,"noerr":0,"x":1224,"y":623.0666656494141,"wires":[["c7396282.341eb8"]]},{"id":"6e89ec4b.4597bc","type":"function","z":"dcadf972.a9f08","name":"convert+format SOG","func":"// convert and format Speed over ground\n\n  var value_in = msg.Satz[7];\n        \n  msg.payload = value_in + ' kn';\n  \n  return  msg;\n  \n        ","outputs":1,"noerr":0,"x":1224,"y":654.0666656494141,"wires":[["4450ef39.b653e","7726bf9d.908f"]]},{"id":"3403daf.c2cb226","type":"function","z":"dcadf972.a9f08","name":"convert+format COG","func":"// convert and format course over ground\n\n  var value_in = msg.Satz[8];\n        \n  msg.payload = value_in + ' °';\n  \n  return  msg;","outputs":1,"noerr":0,"x":1223,"y":686.0666656494141,"wires":[["fa638f24.5d0808","d9c97930.dd5a78"]]},{"id":"692fcbb1.b40c74","type":"comment","z":"dcadf972.a9f08","name":"$GPRMC","info":"Recommended Minimum Navigation Information","x":655,"y":570.0666656494141,"wires":[]},{"id":"bddd33ed.693d88","type":"function","z":"dcadf972.a9f08","name":"convert+format HDG","func":"/* convert and format heading\n*  Sentence:\n        magnetic sensor heading, degrees\n        magnetic deviation, degrees\n        magnetic deviation direction, E/W\n        magnetic variation, degrees\n        magnetic variation direction, E/W\n*/\n        var Hdg = new Object();\n        \n        Hdg.hdg = msg.Satz[1] + '°';\n        Hdg.dev = msg.Satz[2] + '°' +  msg.Satz[3];\n        Hdg.Decl= msg.Satz[4] + '°' + msg.Satz[5];\n    \n        return [Hdg];\n        ","outputs":1,"noerr":0,"x":1241,"y":1072.066665649414,"wires":[["1d8bab1a.9d13e5","f473f957.1e34b8","4504c710.d06e38"]]},{"id":"fa638f24.5d0808","type":"ui_gauge","z":"dcadf972.a9f08","name":"COG","group":"b0652885.6c6d8","order":0,"width":0,"height":0,"gtype":"compass","title":"Course over Ground","label":"","format":"{{msg.payload}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1398,"y":686.0666656494141,"wires":[]},{"id":"4450ef39.b653e","type":"ui_gauge","z":"dcadf972.a9f08","name":"","group":"b0652885.6c6d8","order":0,"width":0,"height":0,"gtype":"gage","title":"Speed Over Ground","label":"units","format":"{{msg.payload}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1446.36669921875,"y":654.3166656494141,"wires":[]},{"id":"1d8bab1a.9d13e5","type":"ui_text","z":"dcadf972.a9f08","group":"596dfba5.8c720c","order":0,"width":0,"height":0,"name":"","label":"MgK","format":"{{msg.hdg}}","layout":"row-spread","x":1495,"y":1071.066665649414,"wires":[]},{"id":"f473f957.1e34b8","type":"ui_text","z":"dcadf972.a9f08","group":"596dfba5.8c720c","order":0,"width":0,"height":0,"name":"","label":"MW","format":"{{msg.Decl}}","layout":"row-spread","x":1495,"y":1104.066665649414,"wires":[]},{"id":"4504c710.d06e38","type":"ui_text","z":"dcadf972.a9f08","group":"596dfba5.8c720c","order":0,"width":0,"height":0,"name":"","label":"ABL","format":"{{msg.dev}}","layout":"row-spread","x":1496,"y":1135.066665649414,"wires":[]},{"id":"fa983ec4.b85ed8","type":"comment","z":"dcadf972.a9f08","name":"$SDHDG","info":"Heading - Deviation & Variation","x":1053,"y":1058.066665649414,"wires":[]},{"id":"2e56675e.213948","type":"function","z":"dcadf972.a9f08","name":"convert+format XTE","func":" //convert and format Cross Track Error\n \n \n        var value_in = msg.Satz[5];\n        \n        if ( value_in == \"N\")\n        {\n            msg.payload = msg.Satz[3] + \" nm\";\n        }\n        else\n        {\n           msg.payload = msg.Satz[3] + \" km\";\n            \n        }\n            \n        \n        return msg;\n ","outputs":1,"noerr":0,"x":601.7666015625,"y":88,"wires":[["d52ea071.229ad8"]]},{"id":"d52ea071.229ad8","type":"ui_text","z":"dcadf972.a9f08","group":"e9660793.9419","order":3,"width":0,"height":0,"name":"","label":"XTE","format":"{{msg.payload}}","layout":"row-spread","x":778.7666015625,"y":88.05000305175781,"wires":[]},{"id":"5253f12f.9c5218","type":"function","z":"dcadf972.a9f08","name":"Steer","func":" //convert and format \"Steer R or L\"\n \n        msg.payload = msg.Satz[4] ;\n        \n        return msg;\n ","outputs":1,"noerr":0,"x":551.88330078125,"y":118.94999694824219,"wires":[["a4f2dc52.debdd"]]},{"id":"a4f2dc52.debdd","type":"ui_text","z":"dcadf972.a9f08","group":"e9660793.9419","order":4,"width":0,"height":0,"name":"","label":"Steer","format":"{{msg.payload}}","layout":"row-spread","x":779.88330078125,"y":118.94999694824219,"wires":[]},{"id":"2d745c90.f289d4","type":"function","z":"dcadf972.a9f08","name":"Arrival circle entered","func":" //convert and format \"Arrival circle entered\"\n \n    msg.payload = msg.Satz[6];\n  \n    return msg;\n ","outputs":1,"noerr":0,"x":601.88330078125,"y":150.9499969482422,"wires":[["e049a21d.1d73c8"]]},{"id":"e049a21d.1d73c8","type":"ui_text","z":"dcadf972.a9f08","group":"e9660793.9419","order":5,"width":0,"height":0,"name":"","label":"Arrival Circle entered","format":"{{msg.payload}}","layout":"row-spread","x":831.7666015625,"y":151.0500030517578,"wires":[]},{"id":"ebfbb77f.322348","type":"function","z":"dcadf972.a9f08","name":"WP perpendicular","func":" //convert and format \"Perpendicular passed at waypoint \"\n \n    msg.payload = msg.Satz[7];\n  \n    return msg;\n ","outputs":1,"noerr":0,"x":592.88330078125,"y":183.9499969482422,"wires":[["1e65347c.887b0c"]]},{"id":"1e65347c.887b0c","type":"ui_text","z":"dcadf972.a9f08","group":"e9660793.9419","order":6,"width":0,"height":0,"name":"","label":"WP perpendicular","format":"{{msg.payload}}","layout":"row-spread","x":820.88330078125,"y":182.9499969482422,"wires":[]},{"id":"71056213.0948d4","type":"function","z":"dcadf972.a9f08","name":"Bearing O2D","func":" //convert and format \"Bearing origin to destination\"\n \n \n        var value_in = msg.Satz[9];\n        \n        \n        \n        if ( value_in == \"M\")\n        {\n            msg.payload = msg.Satz[8] + \" mag\";\n        }\n        else\n        {\n           msg.payload = msg.Satz[8] + \" true\";\n            \n        }\n            \n        \n        return msg;\n ","outputs":1,"noerr":0,"x":571.88330078125,"y":214.9499969482422,"wires":[["17ca4c63.a92b14"]]},{"id":"17ca4c63.a92b14","type":"ui_text","z":"dcadf972.a9f08","group":"e9660793.9419","order":7,"width":0,"height":0,"name":"","label":"Bearing Org to Dest","format":"{{msg.payload}}","layout":"row-spread","x":833.7666015625,"y":215.0500030517578,"wires":[]},{"id":"b0241d9e.b8787","type":"function","z":"dcadf972.a9f08","name":"Dest. WP","func":" //convert and format \"Desitiantion way point\"\n \n    msg.payload = msg.Satz[10];\n  \n    return msg;\n ","outputs":1,"noerr":0,"x":562.88330078125,"y":246.9499969482422,"wires":[["c6dfa630.f6988"]]},{"id":"c6dfa630.f6988","type":"ui_text","z":"dcadf972.a9f08","group":"e9660793.9419","order":1,"width":0,"height":0,"name":"","label":"Destination Waypoint","format":"{{msg.payload}}","layout":"row-spread","x":832.88330078125,"y":244.9499969482422,"wires":[]},{"id":"e9650e7c.b6d4e8","type":"function","z":"dcadf972.a9f08","name":"Bearing Pos2D","func":" //convert and format \"Bearing position to destination\"\n \n \n        var value_in = msg.Satz[12];\n        \n        \n        \n        if ( value_in == \"M\")\n        {\n            msg.payload = msg.Satz[11] + \" mag\";\n        }\n        else\n        {\n           msg.payload = msg.Satz[11] + \" true\";\n            \n        }\n            \n        \n        return msg;\n ","outputs":1,"noerr":0,"x":582.88330078125,"y":278.9499969482422,"wires":[["fb3e99ba.531b38"]]},{"id":"fb3e99ba.531b38","type":"ui_text","z":"dcadf972.a9f08","group":"e9660793.9419","order":2,"width":0,"height":0,"name":"","label":"Bearing Pos to Dest","format":"{{msg.payload}}","layout":"row-spread","x":833.88330078125,"y":276.9499969482422,"wires":[]},{"id":"cf394344.555e28","type":"comment","z":"dcadf972.a9f08","name":"$GPABP","info":"Autopilot Sentence \"B\"","x":395.7666320800781,"y":324.93333435058594,"wires":[]},{"id":"72709359.a9442c","type":"function","z":"dcadf972.a9f08","name":"HDG Pos2D","func":" //convert and format \"Heading position to destination\"\n \n        var value_in = msg.Satz[14];\n        \n        \n        \n        if ( value_in == \"M\")\n        {\n            msg.payload = msg.Satz[13] + \" mag\";\n        }\n        else\n        {\n           msg.payload = msg.Satz[13] + \" true\";\n            \n        }\n            \n        \n        return msg;\n ","outputs":1,"noerr":0,"x":573.88330078125,"y":311.9499969482422,"wires":[["48b816e5.5c08f8"]]},{"id":"48b816e5.5c08f8","type":"ui_text","z":"dcadf972.a9f08","group":"e9660793.9419","order":2,"width":0,"height":0,"name":"","label":"Heading Pos to Dest","format":"{{msg.payload}}","layout":"row-spread","x":833.88330078125,"y":310.9499969482422,"wires":[]},{"id":"383c8f63.862828","type":"function","z":"dcadf972.a9f08","name":"convert+format UTC","func":" //convert and format \"UTC\"\n // Sentence GGA\n \n        var value_in = msg.Satz[1];\n    \n        msg.payload = value_in.substr(0,2) + ':' + value_in.substr(2,2) + \":\" + value_in.substr(4,2);\n     \n        return [msg];\n ","outputs":1,"noerr":0,"x":1198,"y":94.06666564941406,"wires":[["1ed95404.1211fc"]]},{"id":"1ed95404.1211fc","type":"ui_text","z":"dcadf972.a9f08","group":"604ac05d.2accd8","order":2,"width":0,"height":0,"name":"UTC","label":"UTC","format":"{{msg.payload}}","layout":"row-spread","x":1386,"y":94.06666564941406,"wires":[]},{"id":"790afbd7.3654ec","type":"function","z":"dcadf972.a9f08","name":"GPS quality","func":"//convert and format \"GPS quality\"\n // Sentence GGA\n \nvar Mesg;\nGPS_Q = msg.Satz[6];\n\nswitch(GPS_Q){\n    case '0': msg.payload = \"fix no available\";\n              break;\n    case '1': msg.payload = \"GPS fix\";\n              break;\n    case '2': msg.payload = \"Differential GPS fix\";\n}\n    return msg;","outputs":1,"noerr":0,"x":1179,"y":123.06666564941406,"wires":[["55ced550.baf934"]]},{"id":"55ced550.baf934","type":"ui_text","z":"dcadf972.a9f08","group":"604ac05d.2accd8","order":2,"width":0,"height":0,"name":"GPS quality","label":"GPS quality","format":"{{msg.payload}}","layout":"row-spread","x":1407,"y":124.06666564941406,"wires":[]},{"id":"ea51a00a.bdc058","type":"function","z":"dcadf972.a9f08","name":"# of sat","func":" //convert and format \"number of satellites\"\n // Sentence GGA\n \n        msg.payload = msg.Satz[7];\n        return [msg];\n ","outputs":1,"noerr":0,"x":1169,"y":155.06666564941406,"wires":[["3e3bd906.6da186"]]},{"id":"3e3bd906.6da186","type":"ui_text","z":"dcadf972.a9f08","group":"604ac05d.2accd8","order":2,"width":0,"height":0,"name":"number of sats","label":"number of sats","format":"{{msg.payload}}","layout":"row-spread","x":1417,"y":155.06666564941406,"wires":[]},{"id":"ba9301fb.df0bf","type":"comment","z":"dcadf972.a9f08","name":"$GPGGA","info":"Global Positioning System Fix Data, \nTime, Position and fix related data \nfor a GPS receiver.","x":501,"y":386.06666564941406,"wires":[]},{"id":"2d9a8d4.ca16072","type":"function","z":"dcadf972.a9f08","name":"HDOP","func":"//convert and format \"HDOP\"\n// Horizontal Dilution of precision\n// Sentence GGA\n\n\n msg.payload = msg.Satz[8];\n return [msg];\n ","outputs":1,"noerr":0,"x":1161,"y":186.06666564941406,"wires":[["532123d8.be750c"]]},{"id":"532123d8.be750c","type":"ui_text","z":"dcadf972.a9f08","group":"604ac05d.2accd8","order":2,"width":0,"height":0,"name":"HDOP","label":"HDOP","format":"{{msg.payload}}","layout":"row-spread","x":1388,"y":187.06666564941406,"wires":[]},{"id":"280c7f71.9397d","type":"function","z":"dcadf972.a9f08","name":"Antenna Alt.","func":"//convert and format \"antenna altitude\"\n// Sentence GGA\n// Antenna Altitude above/below mean-sea-level (geoid)\n\n msg.payload = msg.Satz[9];\n return [msg];\n ","outputs":1,"noerr":0,"x":1181.7666320800781,"y":218.2333221435547,"wires":[["c9ddc138.379ae8"]]},{"id":"c9ddc138.379ae8","type":"ui_text","z":"dcadf972.a9f08","group":"604ac05d.2accd8","order":2,"width":0,"height":0,"name":"Antenna altitude","label":"Antenna altitude","format":"{{msg.payload}}","layout":"row-spread","x":1417.0833129882812,"y":219.15000915527344,"wires":[]},{"id":"596a9de6.3d287c","type":"function","z":"dcadf972.a9f08","name":"convert+format XTE","func":" //convert and format Cross Track Error\n \n \n       \n    msg.payload = msg.Satz[2] + \" nm\";\n    return msg;\n ","outputs":1,"noerr":0,"x":1213.88330078125,"y":257.9499969482422,"wires":[["2446ca21.7fa01e"]]},{"id":"26ba8e99.84094a","type":"comment","z":"dcadf972.a9f08","name":"$GPRMB","info":"","x":530.7666015625,"y":484.13331604003906,"wires":[]},{"id":"c1cc9a22.1cbdb","type":"function","z":"dcadf972.a9f08","name":"Steer","func":" //convert and format \"Steer R or L\"\n \n        msg.payload = msg.Satz[3] ;\n        \n        return msg;\n ","outputs":1,"noerr":0,"x":1164.88330078125,"y":289.9499969482422,"wires":[["ab3368d0.5a222"]]},{"id":"d226219c.7afe7","type":"function","z":"dcadf972.a9f08","name":"To WP","func":" //convert and format \"Desitiantion way point\"\n \n    msg.payload = msg.Satz[5];\n  \n    return msg;\n ","outputs":1,"noerr":0,"x":1165.88330078125,"y":355.94996643066406,"wires":[["1fc82d5e.c28973"]]},{"id":"1fc82d5e.c28973","type":"ui_text","z":"dcadf972.a9f08","group":"2e992207.609d26","order":2,"width":0,"height":0,"name":"","label":"To Waypoint","format":"{{msg.payload}}","layout":"row-spread","x":1409.88330078125,"y":355.94996643066406,"wires":[]},{"id":"fe71afe3.a3853","type":"function","z":"dcadf972.a9f08","name":"From WP","func":" //convert and format \"Desitiantion way point\"\n \n    msg.payload = msg.Satz[4];\n  \n    return msg;\n ","outputs":1,"noerr":0,"x":1173.88330078125,"y":322.94996643066406,"wires":[["31aa5072.e3807"]]},{"id":"31aa5072.e3807","type":"ui_text","z":"dcadf972.a9f08","group":"2e992207.609d26","order":1,"width":0,"height":0,"name":"","label":"From Waypoint","format":"{{msg.payload}}","layout":"row-spread","x":1419.88330078125,"y":322.94996643066406,"wires":[]},{"id":"e10f8eca.77985","type":"function","z":"dcadf972.a9f08","name":"Dest. WP LAT","func":" //convert and format latitude\n \n        var value_in = msg.Satz[6];\n    \n        msg.payload = value_in.substr(0,2) + '°' + ' ' + value_in.substr(2,5) + \"' \" + msg.Satz[7];\n     \n        return [msg];\n ","outputs":1,"noerr":0,"x":1195,"y":388.06666564941406,"wires":[["b94ff398.d4114"]]},{"id":"b94ff398.d4114","type":"ui_text","z":"dcadf972.a9f08","group":"2e992207.609d26","order":5,"width":"0","height":"0","name":"Dest.WP LAT","label":"Dest.WP LAT","format":"{{msg.payload}}","layout":"row-spread","x":1424,"y":388.06666564941406,"wires":[]},{"id":"6beb0a5.8ca2674","type":"function","z":"dcadf972.a9f08","name":"Dest. WP LON","func":"// convert and format longitude\n\n  var value_in = msg.Satz[8];\n        \n  msg.payload = value_in.substr(0,3) + '°' + ' ' + value_in.substr(3,5) + \"' \" + msg.Satz[9];\n  \n  return msg;\n ","outputs":1,"noerr":0,"x":1198,"y":420.06666564941406,"wires":[["7ad3724f.4bf6bc"]]},{"id":"7ad3724f.4bf6bc","type":"ui_text","z":"dcadf972.a9f08","group":"2e992207.609d26","order":6,"width":0,"height":0,"name":"Dest. WP LON","label":"Dest. WP LON","format":"{{msg.payload}}","layout":"row-spread","x":1422,"y":420.06666564941406,"wires":[]},{"id":"518ee0be.1270a8","type":"function","z":"dcadf972.a9f08","name":"Range to Dest.","func":"// convert and format longitude\n\nmsg.payload = msg.Satz[10] + ' nm' ;\n  \nreturn msg;\n ","outputs":1,"noerr":0,"x":1198.75,"y":452.81666564941406,"wires":[["ce0b29a9.5ee6c"]]},{"id":"ce0b29a9.5ee6c","type":"ui_text","z":"dcadf972.a9f08","group":"2e992207.609d26","order":7,"width":0,"height":0,"name":"Range to Dest.","label":"Range to Dest.","format":"{{msg.payload}}","layout":"row-spread","x":1421.75,"y":452.81666564941406,"wires":[]},{"id":"9dd9f599.4fc9b","type":"function","z":"dcadf972.a9f08","name":"BRG to Dest.","func":" //convert and format latitude\n \n        msg.payload = msg.Satz[11]\n        return msg;\n ","outputs":1,"noerr":0,"x":1189,"y":484.06666564941406,"wires":[["b9230e9d.e7a31"]]},{"id":"b9230e9d.e7a31","type":"ui_text","z":"dcadf972.a9f08","group":"2e992207.609d26","order":8,"width":"0","height":"0","name":"BRG to Dest.","label":"BRG to Dest.","format":"{{msg.payload}}","layout":"row-spread","x":1418,"y":484.06666564941406,"wires":[]},{"id":"c9f48ea5.bbc318","type":"function","z":"dcadf972.a9f08","name":"VMG to Dest.","func":" //convert and format latitude\n \n        msg.payload = msg.Satz[12];\n        return msg;\n ","outputs":1,"noerr":0,"x":1200,"y":516.0666656494141,"wires":[["21b93ff4.7965f"]]},{"id":"21b93ff4.7965f","type":"ui_text","z":"dcadf972.a9f08","group":"2e992207.609d26","order":9,"width":"0","height":"0","name":"VMG to Dest.","label":"VMG to Dest.","format":"{{msg.payload}}","layout":"row-spread","x":1429,"y":516.0666656494141,"wires":[]},{"id":"c3a5f175.8c11e8","type":"function","z":"dcadf972.a9f08","name":"Arrival Status","func":" //convert and format latitude\n \n        msg.payload = msg.Satz[13];\n        return msg;\n ","outputs":1,"noerr":0,"x":1201,"y":548.0666656494141,"wires":[["9dd6929a.e86b1"]]},{"id":"9dd6929a.e86b1","type":"ui_text","z":"dcadf972.a9f08","group":"2e992207.609d26","order":10,"width":"0","height":"0","name":"Arrival Status","label":"Arrival Status","format":"{{msg.payload}}","layout":"row-spread","x":1430,"y":548.0666656494141,"wires":[]},{"id":"2130a8aa.64d14","type":"function","z":"dcadf972.a9f08","name":"Track Degrees true","func":" //convert and format latitude\n \n        msg.payload = msg.Satz[1];\n        return msg;\n ","outputs":1,"noerr":0,"x":1212.75,"y":721.8166656494141,"wires":[["73ac04e1.52c2f4"]]},{"id":"73ac04e1.52c2f4","type":"ui_text","z":"dcadf972.a9f08","group":"2e992207.609d26","order":11,"width":"0","height":"0","name":"Track Degrees true","label":"Track Degrees (true)","format":"{{msg.payload}}","layout":"row-spread","x":1423.75,"y":721.8166656494141,"wires":[]},{"id":"99439ad8.679d98","type":"comment","z":"dcadf972.a9f08","name":"$GPVTG","info":"","x":720.7666015625,"y":658.9333648681641,"wires":[]},{"id":"b6806f11.d449b8","type":"function","z":"dcadf972.a9f08","name":"Track Degrees mag","func":" //convert and format latitude\n \n        msg.payload = msg.Satz[3];\n        return msg;\n ","outputs":1,"noerr":0,"x":1221.88330078125,"y":754.9499359130859,"wires":[["b4630c19.d0cf8"]]},{"id":"b4630c19.d0cf8","type":"ui_text","z":"dcadf972.a9f08","group":"2e992207.609d26","order":12,"width":"0","height":"0","name":"Track Degrees (mag)","label":"Track Degrees (mag)","format":"{{msg.payload}}","layout":"row-spread","x":1437.88330078125,"y":755.9499664306641,"wires":[]},{"id":"89cf9c1d.dd772","type":"function","z":"dcadf972.a9f08","name":"SOG (kn)","func":" //convert and format latitude\n \n        msg.payload = msg.Satz[5] + \" kn\";\n        return msg;\n ","outputs":1,"noerr":0,"x":1181.88330078125,"y":787.5499420166016,"wires":[["c51e54a0.08597"]]},{"id":"c51e54a0.08597","type":"ui_text","z":"dcadf972.a9f08","group":"2e992207.609d26","order":14,"width":"0","height":"0","name":"SOG (kn)","label":"SOG (kn)","format":"{{msg.payload}}","layout":"row-spread","x":1397.88330078125,"y":788.5499725341797,"wires":[]},{"id":"2d45a331.50e0ec","type":"function","z":"dcadf972.a9f08","name":"TransducerData","func":"\"use strict\"\n\nvar NumEntries,i,j;\n\nvar TDValues = [];\n\nNumEntries = (msg.Satz.length - 2)/4;\n\nTDValues[0] = [msg.Satz[8],  msg.Satz[5],  msg.Satz[6],  msg.Satz[7]];\nTDValues[1] = [msg.Satz[4],  msg.Satz[1],  msg.Satz[2],  msg.Satz[3]];\nTDValues[2] = [msg.Satz[16], msg.Satz[13], msg.Satz[14], msg.Satz[15]];\nTDValues[3] = [msg.Satz[20], msg.Satz[17], msg.Satz[18], msg.Satz[19]];\nTDValues[4] = [msg.Satz[12], msg.Satz[9],  msg.Satz[10], msg.Satz[11]];\n\n\n/*\nfor ( i = 1; i <= NumEntries; i++)\n{\n    j = (i-1)*4+1;\n    TDValues[i] = [msg.Satz[j+3],msg.Satz[j+0],msg.Satz[j+1],msg.Satz[j+2]];\n}\n*/\n\nmsg.payload = TDValues;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1203.7666015625,"y":866.4000091552734,"wires":[["256561c.b86a09e"]]},{"id":"b8466a06.c72b58","type":"tcp in","z":"dcadf972.a9f08","name":"Get NMEA from Raspi","server":"client","host":"localhost","port":"10110","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":116.88333129882812,"y":315.9499969482422,"wires":[["52228ddc.131534"]]},{"id":"256561c.b86a09e","type":"ui_template","z":"dcadf972.a9f08","group":"40a6636b.25d694","name":"Transducer Data","order":1,"width":"6","height":"6","format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>Name</th> \n <th>Type</th>\n <th>Data</th>\n <th>Unit</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1427,"y":865.0666351318359,"wires":[[]]},{"id":"3e5a796a.70c10e","type":"comment","z":"dcadf972.a9f08","name":"$IIXDR","info":"","x":995.7666015625,"y":820.1333160400391,"wires":[]},{"id":"2a55966b.9a9ae2","type":"function","z":"dcadf972.a9f08","name":"depth b. transd. (feet)","func":" // $SDDBT\n // convert and format depth\n \n        msg.payload = msg.Satz[1] + 'f';\n        return msg;\n ","outputs":1,"noerr":0,"x":1223.800048828125,"y":902.3499908447266,"wires":[["5ec2cf7a.f04bd"]]},{"id":"5ec2cf7a.f04bd","type":"ui_text","z":"dcadf972.a9f08","group":"f0a8cf1.e62c73","order":10,"width":"0","height":"0","name":"Depth (feet)","label":"Depth (feet)","format":"{{msg.payload}}","layout":"row-spread","x":1432.8001098632812,"y":902.3500213623047,"wires":[]},{"id":"3f5e9d86.994432","type":"function","z":"dcadf972.a9f08","name":"depth b. transd. (meter)","func":" // $SDDBT\n // convert and format depth\n \n        msg.payload = msg.Satz[3] + 'm ';\n        return msg;\n ","outputs":1,"noerr":0,"x":1224.800048828125,"y":934.3499908447266,"wires":[["a2b77259.a29848"]]},{"id":"a2b77259.a29848","type":"ui_text","z":"dcadf972.a9f08","group":"f0a8cf1.e62c73","order":10,"width":"0","height":"0","name":"Depth (meter)","label":"Depth (meter)","format":"{{msg.payload}}","layout":"row-spread","x":1433.8001098632812,"y":934.3500213623047,"wires":[]},{"id":"a24c1e8e.8ca888","type":"function","z":"dcadf972.a9f08","name":"depth b. transd. (fathoms)","func":" // $SDDBT\n // convert and format depth\n \n        msg.payload = msg.Satz[5] + 'fth';\n        return msg;\n ","outputs":1,"noerr":0,"x":1234.800048828125,"y":965.3499908447266,"wires":[["bcd53fe.5db604"]]},{"id":"bcd53fe.5db604","type":"ui_text","z":"dcadf972.a9f08","group":"f0a8cf1.e62c73","order":10,"width":"0","height":"0","name":"Depth (fathoms)","label":"Depth (fathoms)","format":"{{msg.payload}}","layout":"row-spread","x":1443.8001098632812,"y":965.3499908447266,"wires":[]},{"id":"414ae62b.0e8c3","type":"comment","z":"dcadf972.a9f08","name":"$SDDBT","info":"","x":964.36669921875,"y":884.0666656494141,"wires":[]},{"id":"3477d8db.5a6e48","type":"function","z":"dcadf972.a9f08","name":"Depth of Water","func":" // $SDDPT\n // convert and format depth\n // \n \n        msg.payload = msg.Satz[2] + ' ' + msg.Satz[1] + \"m\" ;\n        return msg;\n ","outputs":1,"noerr":0,"x":1220.75,"y":1032.816665649414,"wires":[["fae3ff25.7351f8"]]},{"id":"fae3ff25.7351f8","type":"ui_text","z":"dcadf972.a9f08","group":"f0a8cf1.e62c73","order":10,"width":"0","height":"0","name":"Depth of Water","label":"Depth of Water","format":"{{msg.payload}}","layout":"row-spread","x":1523.75,"y":1032.816665649414,"wires":[]},{"id":"561f9b31.2f2824","type":"comment","z":"dcadf972.a9f08","name":"$SDDPT","info":"","x":988.75,"y":973.8166656494141,"wires":[]},{"id":"f57075d8.2c12c8","type":"function","z":"dcadf972.a9f08","name":"convert+format VHW","func":"/* convert and format VHW velocity, heading through water\n*  Sentence:\n        Degrees True\n        'T'\n        Degrees Magnetic\n        'M'\n        knots, speed relative to the water\n        'K'\n        kilometers, speed relative to water\n        'K'\n*/\n  \n        var Vhw = new Object();\n        \n        Vhw.tHdg = msg.Satz[1] + '°' + msg.Satz[2];\n        Vhw.mHdg = msg.Satz[3] + '°' +  msg.Satz[4];\n        Vhw.knSpd= msg.Satz[5] + '°' + 'kn';\n        Vhw.kmSpd= msg.Satz[7] + '°' +  'km';\n    \n        return [Vhw];\n        ","outputs":1,"noerr":0,"x":1242.75,"y":1217.816665649414,"wires":[["f46d6eb6.039798","309b8dc.9284af2","a809e211.894bb8","2db3dd55.24141a"]]},{"id":"f46d6eb6.039798","type":"ui_text","z":"dcadf972.a9f08","group":"596dfba5.8c720c","order":0,"width":0,"height":0,"name":"HDG (true)","label":"HDG (true)","format":"{{msg.tHdg}}","layout":"row-spread","x":1513.75,"y":1214.816665649414,"wires":[]},{"id":"309b8dc.9284af2","type":"ui_text","z":"dcadf972.a9f08","group":"596dfba5.8c720c","order":0,"width":0,"height":0,"name":"HDG (mag)","label":"HDG (mag)","format":"{{msg.mHdg}}","layout":"row-spread","x":1513.75,"y":1247.816665649414,"wires":[]},{"id":"a809e211.894bb8","type":"ui_text","z":"dcadf972.a9f08","group":"596dfba5.8c720c","order":0,"width":0,"height":0,"name":"Speed trough Water (kn)","label":"Speed trough Water (kn)","format":"{{msg.knSpd}}","layout":"row-spread","x":1554.75,"y":1278.816665649414,"wires":[]},{"id":"146651da.31421e","type":"function","z":"dcadf972.a9f08","name":"Water temp.","func":"/*\nUnclear why some sentences other than \"MTW\"\nare in this channel. Kill them.\n*/\n\nif ( msg.Satz[0] !== '$SDMTW')\n    msg = null;\nelse \n    msg.payload = msg.Satz[1] + '°' + msg.Satz[2];\n        \nreturn msg;","outputs":1,"noerr":0,"x":1213,"y":1170.066665649414,"wires":[["659f8368.6cadcc"]]},{"id":"659f8368.6cadcc","type":"ui_text","z":"dcadf972.a9f08","group":"f0a8cf1.e62c73","order":10,"width":"0","height":"0","name":"Water temp.","label":"Water temp.","format":"{{msg.payload}}","layout":"row-spread","x":1516.066650390625,"y":1175.750015258789,"wires":[]},{"id":"2db3dd55.24141a","type":"ui_text","z":"dcadf972.a9f08","group":"596dfba5.8c720c","order":0,"width":0,"height":0,"name":"Speed trough Water (km)","label":"Speed trough Water (km)","format":"{{msg.kmSpd}}","layout":"row-spread","x":1555.88330078125,"y":1311.949966430664,"wires":[]},{"id":"bb3c46cc.6266c","type":"function","z":"dcadf972.a9f08","name":"Dist.travelled tr. water","func":"/* $SDVLW\n   Distance Traveled through Water\n\nDisclaimer: VLW is not conistently documented.\nMost docs describe only two values \n - \"Total cumulative distance\"\n - \"distance since Reset\" \n plus units each.\n I found this:\n \n$--VLW,x.x,N,x.x,N,x.x,N,x.x,N*hh<CR><LF>\n    $--: Talker identifier*\n    VLW: Sentence formatter*\n    x.x,N: Total cumulative water distance, nautical miles*\n    x.x,N: Water distance since reset, nautical miles*\n    x.x,N: Total cumulative ground distance, nautical miles*\n    x.x,N: Ground distance since reset, nautical miles*\n    *hh: Checksum*\n\n */\n\n        var Vlw = {}; \n     \n        Vlw.ToWD = msg.Satz[1] + ' nm';\n        Vlw.TrWD = msg.Satz[3] + ' nm';\n        Vlw.ToGD = msg.Satz[5] + ' nm';\n        Vlw.TrGD = msg.Satz[7] + ' nm';\n    \n        return [Vlw];\n        \n ","outputs":1,"noerr":0,"x":1241.88330078125,"y":1356.5501251220703,"wires":[["5459597e.30b578","33dc8096.ca6848","d4852b88.5aa898","e7b0abb5.80d67"]]},{"id":"5459597e.30b578","type":"ui_text","z":"dcadf972.a9f08","group":"1bfc320.838e14e","order":3,"width":"0","height":"0","name":"Total water dist.","label":"Total water dist.","format":"{{msg.ToWD}}","layout":"row-spread","x":1541.88330078125,"y":1360.5501251220703,"wires":[]},{"id":"e7b0abb5.80d67","type":"ui_text","z":"dcadf972.a9f08","group":"1bfc320.838e14e","order":2,"width":"0","height":"0","name":"Trip ground Dist.","label":"Trip ground Dist.","format":"{{msg.TrGD}}","layout":"row-spread","x":1556.5333251953125,"y":1456.1498565673828,"wires":[]},{"id":"d4852b88.5aa898","type":"ui_text","z":"dcadf972.a9f08","group":"1bfc320.838e14e","order":4,"width":"0","height":"0","name":"Total Ground Dist.","label":"Total Ground Dist.","format":"{{msg.ToGD}}","layout":"row-spread","x":1554.5333251953125,"y":1423.1498565673828,"wires":[]},{"id":"33dc8096.ca6848","type":"ui_text","z":"dcadf972.a9f08","group":"1bfc320.838e14e","order":1,"width":"0","height":"0","name":"Trip water dist.","label":"Trip water dist.","format":"{{msg.TrWD}}","layout":"row-spread","x":1544.5333251953125,"y":1391.149917602539,"wires":[]},{"id":"2446ca21.7fa01e","type":"ui_text","z":"dcadf972.a9f08","group":"7db9a1f8.c9b498","order":1,"width":0,"height":0,"name":"XTE","label":"XTE","format":"{{msg.payload}}","layout":"row-spread","x":1389.75,"y":256.81666564941406,"wires":[]},{"id":"ab3368d0.5a222","type":"ui_text","z":"dcadf972.a9f08","group":"7db9a1f8.c9b498","order":1,"width":0,"height":0,"name":"Steer","label":"Steer","format":"{{msg.payload}}","layout":"row-spread","x":1391.75,"y":290.81666564941406,"wires":[]},{"id":"7726bf9d.908f","type":"ui_gauge","z":"dcadf972.a9f08","name":"","group":"ee835044.b7fcc","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed Over Ground","label":"units","format":"{{msg.payload}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":574.36669921875,"y":1039.316665649414,"wires":[]},{"id":"d9c97930.dd5a78","type":"ui_gauge","z":"dcadf972.a9f08","name":"COG","group":"ee835044.b7fcc","order":1,"width":0,"height":0,"gtype":"compass","title":"Course over Ground","label":"","format":"{{msg.payload}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":528,"y":1077.066665649414,"wires":[]},{"id":"b0652885.6c6d8","type":"ui_group","z":"","name":"Navigation Data","tab":"6bc1a2cf.70709c","order":1,"disp":true,"width":"6","collapse":true},{"id":"596dfba5.8c720c","type":"ui_group","z":"","name":"Compass","tab":"6bc1a2cf.70709c","order":2,"disp":true,"width":"6","collapse":true},{"id":"e9660793.9419","type":"ui_group","z":"","name":"Routing Data","tab":"5f14a6c8.fe72a","order":4,"disp":true,"width":"6","collapse":true},{"id":"604ac05d.2accd8","type":"ui_group","z":"","name":"Satellite Data","tab":"d15da7d4.0fb23","order":3,"disp":true,"width":"6","collapse":true},{"id":"2e992207.609d26","type":"ui_group","z":"","name":"RMB","tab":"5f14a6c8.fe72a","order":2,"disp":true,"width":"6","collapse":true},{"id":"40a6636b.25d694","type":"ui_group","z":"","name":"Transducer Data","tab":"d15da7d4.0fb23","order":2,"disp":true,"width":"6","collapse":true},{"id":"f0a8cf1.e62c73","type":"ui_group","z":"","name":"Dephts","tab":"6bc1a2cf.70709c","order":5,"disp":true,"width":"6","collapse":true},{"id":"1bfc320.838e14e","type":"ui_group","z":"","name":"Trip","tab":"5f14a6c8.fe72a","order":3,"disp":true,"width":"6","collapse":false},{"id":"7db9a1f8.c9b498","type":"ui_group","z":"","name":"not in use","tab":"d15da7d4.0fb23","order":3,"disp":true,"width":"6","collapse":false},{"id":"ee835044.b7fcc","type":"ui_group","z":"","name":"Group 1","tab":"8c813a19.b99e88","order":1,"disp":true,"width":"6","collapse":false},{"id":"6bc1a2cf.70709c","type":"ui_tab","z":"","name":"Basic Data","icon":"dashboard","order":2},{"id":"5f14a6c8.fe72a","type":"ui_tab","z":"","name":"Routing Data","icon":"dashboard","order":3},{"id":"d15da7d4.0fb23","type":"ui_tab","z":"","name":"Other stuff","icon":"dashboard","order":4},{"id":"8c813a19.b99e88","type":"ui_tab","z":"","name":"Routing","icon":"dashboard","order":1}]
