NMEA2NodeRed.txt
[{"id":"b3587926.f28d2","type":"tcp in","z":"5a7dc814.2dc7f","name":"Get NMEA from ZEUS2","server":"client","host":"192.168.0.78","port":"10110","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":119,"y":138.88330078125,"wires":[[]]},{"id":"18023cec.8d985b","type":"function","z":"5a7dc814.2dc7f","name":"NMEA: main filter","func":"/* \n   Filter NMEA sentences. Known sentences:\n   $GPAAM, $GPAPB, $GPBOD, $GPGGA, $GPGLC, $GPGLL, \n   $GPGSA, $GPGSV, $GPRMB, $GPRMC, $GPVTG, $GPXTE, \n   $GPZDA, $IIXDR, $SDDBT, $SDDPT, $SDHDG, $SDMTW, \n   $SDVHW, $SDVLW, $WIMWD, $WIMWV\n   \n   Function: Since the checksum field isn't separated by comma, do that first. (replace '*' by ',@')\n   The switch command is used to control the NMEA sentence forwarding.\n   Since IIXDR has variable length is must be treated separately. Therefore there are two node outputs.\n*/\n \n\"use strict\"\n\nvar Nmea_Id = '';\n\n// The last field is separated by an asterix. Replace it by a comma to let work string.split() properly.\n\nmsg.Satz = msg.payload.replace(\"*\", \",@\");\n\nmsg.Satz = msg.Satz.split(\",\");\n\nNmea_Id = msg.Satz[0];\n\nmsg.Nmea_Id = Nmea_Id;\n\nswitch (Nmea_Id) {\n    case '$GPAAM': return [ msg,  null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];\n                            \n    case '$GPAPB': return [ null, msg,  null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPBOD': return [ null, null, msg,  null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPGGA': return [ null, null, null, msg,  null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPGLC': return [ null, null, null, null, msg,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPGLL': return [ null, null, null, null, null,\n                            msg,  null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPGSA': return [ null, null, null, null, null,\n                            null, msg,  null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPGSV': return [ null, null, null, null, null,\n                            null, null, msg,  null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPRMB': return [ null, null, null, null, null,\n                            null, null, null, msg,  null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPRMC': return [ null, null, null, null, null,\n                            null, null, null, null, msg,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPVTG': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            msg,  null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPXTE': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, msg,  null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$GPZDA': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg,  null, null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$IIXDR': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, msg,  null,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$SDDBT': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, msg,\n                            null, null, null, null, null,\n                            null, null, msg];                            \n\n    case '$SDDPT': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            msg,  null, null, null, null,\n                            null, null, msg];                            \n\n    case '$SDHDG': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, msg,  null, null, null,\n                            null, null, msg];                            \n    \n    case '$SDMTW': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, msg,  null, null,\n                            null, null, null];                            \n\n    case '$SDVHW': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, msg,  null,\n                            null, null, msg];   \n                            \n    case '$SDVLW': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, msg,\n                            null, null, msg];   \n                            \n    case '$WIMWD': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            msg,  null, msg];   \n\n    case '$WIMWV': return [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, msg, msg];   \n                            \n    default :      return   null;\n    \n/*    \n    [ null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, null, null, null, null,\n                            null, msg];   \n */\n\n}\n\n","outputs":23,"noerr":0,"x":209.00001525878906,"y":534.9999389648438,"wires":[[],["62b50605.6bc7f8","b6177ccc.87dd28","181a67e2.616f2","6053d5e0.f3e3b4","d38fd2ca.934298","3053ed4.c204092","e25ca4af.0c05d","fbdeaf75.35f1"],[],["5372a087.5f5a3","9f9636fb.fed9f","c6508b9c.208bb","19ff5410.c1d3f4","bb124ecf.7bf308"],[],[],[],[],["c75e1c90.d114a","5706f86f.b7b2b","ab6aa89d.f0c95","2366405d.a0e18","2be125fb.18e792","c0c193be.58da78","5bc09fb7.683778","bbd8ea87.380b78","a0e78287.4fbc38","8bcc65e6.bbb04"],["cad1a647.b6fce","505849e4.a6636","231e749f.b10054","5bf05a8f.a2421c"],["cde8b081.e24828","295b4cd9.f53704","8e55bbcc.aa49"],[],[],["2bbdaac4.66bb66"],["99d89684.4c8df","411936a4.9626d8","a4000ae3.d3743"],["ab874af6.1e5f8"],["13c92ae8.f8a9dd"],["17f0cc42.dc0204"],["5b0f4fe1.438808"],["684485c.d7c62fc"],[],[],[]]},{"id":"8eb38a21.d8d5f","type":"ui_text","z":"5a7dc814.2dc7f","group":"4acb8a4f.356994","order":0,"width":"0","height":"0","name":"LAT","label":"LAT","format":"{{msg.payload}}","layout":"row-spread","x":1399,"y":567,"wires":[]},{"id":"dc1889e.626fdf8","type":"ui_text","z":"5a7dc814.2dc7f","group":"4acb8a4f.356994","order":0,"width":0,"height":0,"name":"LON","label":"LON","format":"{{msg.payload}}","layout":"row-spread","x":1399,"y":599,"wires":[]},{"id":"cad1a647.b6fce","type":"function","z":"5a7dc814.2dc7f","name":"convert+format LAT","func":" //convert and format latitude\n \n        var value_in = msg.Satz[3];\n    \n        msg.payload = value_in.substr(0,2) + '°' + ' ' + value_in.substr(2,5) + \"' \" + msg.Satz[4];\n     \n        return [msg];\n ","outputs":1,"noerr":0,"x":1214,"y":567,"wires":[["8eb38a21.d8d5f"]]},{"id":"505849e4.a6636","type":"function","z":"5a7dc814.2dc7f","name":"convert+format LON","func":"// convert and format longitude\n\n  var value_in = msg.Satz[5];\n        \n  msg.payload = value_in.substr(0,3) + '°' + ' ' + value_in.substr(3,5) + \"' \" + msg.Satz[6];\n  \n  return msg;\n ","outputs":1,"noerr":0,"x":1225,"y":599,"wires":[["dc1889e.626fdf8"]]},{"id":"231e749f.b10054","type":"function","z":"5a7dc814.2dc7f","name":"convert+format SOG","func":"// convert and format Speed over ground\n\n  var value_in = msg.Satz[7];\n        \n  msg.payload = value_in + ' kn';\n  \n  return  msg;\n  \n        ","outputs":1,"noerr":0,"x":1225,"y":630,"wires":[["e7799fa.f8777e","dba250c2.a38e"]]},{"id":"5bf05a8f.a2421c","type":"function","z":"5a7dc814.2dc7f","name":"convert+format COG","func":"// convert and format course over ground\n\n  var value_in = msg.Satz[8];\n        \n  msg.payload = value_in + ' °';\n  \n  return  msg;","outputs":1,"noerr":0,"x":1224,"y":662,"wires":[["20ac1c1.4a75564","68ef7eef.58ad"]]},{"id":"2864d839.39615","type":"comment","z":"5a7dc814.2dc7f","name":"$GPRMC","info":"Recommended Minimum Navigation Information","x":656,"y":546,"wires":[]},{"id":"13c92ae8.f8a9dd","type":"function","z":"5a7dc814.2dc7f","name":"convert+format HDG","func":"/* convert and format heading\n*  Sentence:\n        magnetic sensor heading, degrees\n        magnetic deviation, degrees\n        magnetic deviation direction, E/W\n        magnetic variation, degrees\n        magnetic variation direction, E/W\n*/\n        var Hdg = new Object();\n        \n        Hdg.hdg = msg.Satz[1] + '°';\n        Hdg.dev = msg.Satz[2] + '°' +  msg.Satz[3];\n        Hdg.Decl= msg.Satz[4] + '°' + msg.Satz[5];\n    \n        return [Hdg];\n        ","outputs":1,"noerr":0,"x":1242,"y":1048,"wires":[["a31f4a54.5a741","baff7ee7.ff1eb","a8cce7c0.cb9538"]]},{"id":"20ac1c1.4a75564","type":"ui_gauge","z":"5a7dc814.2dc7f","name":"COG","group":"4acb8a4f.356994","order":0,"width":0,"height":0,"gtype":"compass","title":"Course over Ground","label":"","format":"{{msg.payload}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1399,"y":662,"wires":[]},{"id":"e7799fa.f8777e","type":"ui_gauge","z":"5a7dc814.2dc7f","name":"","group":"4acb8a4f.356994","order":0,"width":0,"height":0,"gtype":"gage","title":"Speed Over Ground","label":"units","format":"{{msg.payload}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1447.36669921875,"y":630.25,"wires":[]},{"id":"a31f4a54.5a741","type":"ui_text","z":"5a7dc814.2dc7f","group":"80ebb8ca.268e48","order":0,"width":0,"height":0,"name":"","label":"MgK","format":"{{msg.hdg}}","layout":"row-spread","x":1496,"y":1047,"wires":[]},{"id":"baff7ee7.ff1eb","type":"ui_text","z":"5a7dc814.2dc7f","group":"80ebb8ca.268e48","order":0,"width":0,"height":0,"name":"","label":"MW","format":"{{msg.Decl}}","layout":"row-spread","x":1496,"y":1080,"wires":[]},{"id":"a8cce7c0.cb9538","type":"ui_text","z":"5a7dc814.2dc7f","group":"80ebb8ca.268e48","order":0,"width":0,"height":0,"name":"","label":"ABL","format":"{{msg.dev}}","layout":"row-spread","x":1497,"y":1111,"wires":[]},{"id":"4e53a7c2.4ed8e","type":"comment","z":"5a7dc814.2dc7f","name":"$SDHDG","info":"Heading - Deviation & Variation","x":1054,"y":1034,"wires":[]},{"id":"62b50605.6bc7f8","type":"function","z":"5a7dc814.2dc7f","name":"convert+format XTE","func":" //convert and format Cross Track Error\n \n \n        var value_in = msg.Satz[5];\n        \n        if ( value_in == \"N\")\n        {\n            msg.payload = msg.Satz[3] + \" nm\";\n        }\n        else\n        {\n           msg.payload = msg.Satz[3] + \" km\";\n            \n        }\n            \n        \n        return msg;\n ","outputs":1,"noerr":0,"x":602.7666015625,"y":63.93333435058594,"wires":[["7084b241.515d04"]]},{"id":"7084b241.515d04","type":"ui_text","z":"5a7dc814.2dc7f","group":"a42fa9d9.3afca","order":3,"width":0,"height":0,"name":"","label":"XTE","format":"{{msg.payload}}","layout":"row-spread","x":779.7666015625,"y":63.98333740234375,"wires":[]},{"id":"b6177ccc.87dd28","type":"function","z":"5a7dc814.2dc7f","name":"Steer","func":" //convert and format \"Steer R or L\"\n \n        msg.payload = msg.Satz[4] ;\n        \n        return msg;\n ","outputs":1,"noerr":0,"x":552.88330078125,"y":94.88333129882812,"wires":[["5ebece8e.60d37"]]},{"id":"5ebece8e.60d37","type":"ui_text","z":"5a7dc814.2dc7f","group":"a42fa9d9.3afca","order":4,"width":0,"height":0,"name":"","label":"Steer","format":"{{msg.payload}}","layout":"row-spread","x":780.88330078125,"y":94.88333129882812,"wires":[]},{"id":"181a67e2.616f2","type":"function","z":"5a7dc814.2dc7f","name":"Arrival circle entered","func":" //convert and format \"Arrival circle entered\"\n \n    msg.payload = msg.Satz[6];\n  \n    return msg;\n ","outputs":1,"noerr":0,"x":602.88330078125,"y":126.88333129882812,"wires":[["f2707faf.14725"]]},{"id":"f2707faf.14725","type":"ui_text","z":"5a7dc814.2dc7f","group":"a42fa9d9.3afca","order":5,"width":0,"height":0,"name":"","label":"Arrival Circle entered","format":"{{msg.payload}}","layout":"row-spread","x":832.7666015625,"y":126.98333740234375,"wires":[]},{"id":"6053d5e0.f3e3b4","type":"function","z":"5a7dc814.2dc7f","name":"WP perpendicular","func":" //convert and format \"Perpendicular passed at waypoint \"\n \n    msg.payload = msg.Satz[7];\n  \n    return msg;\n ","outputs":1,"noerr":0,"x":593.88330078125,"y":159.88333129882812,"wires":[["8419e86d.0ab728"]]},{"id":"8419e86d.0ab728","type":"ui_text","z":"5a7dc814.2dc7f","group":"a42fa9d9.3afca","order":6,"width":0,"height":0,"name":"","label":"WP perpendicular","format":"{{msg.payload}}","layout":"row-spread","x":821.88330078125,"y":158.88333129882812,"wires":[]},{"id":"d38fd2ca.934298","type":"function","z":"5a7dc814.2dc7f","name":"Bearing O2D","func":" //convert and format \"Bearing origin to destination\"\n \n \n        var value_in = msg.Satz[9];\n        \n        \n        \n        if ( value_in == \"M\")\n        {\n            msg.payload = msg.Satz[8] + \" mag\";\n        }\n        else\n        {\n           msg.payload = msg.Satz[8] + \" true\";\n            \n        }\n            \n        \n        return msg;\n ","outputs":1,"noerr":0,"x":572.88330078125,"y":190.88333129882812,"wires":[["e2d418c0.a1c44"]]},{"id":"e2d418c0.a1c44","type":"ui_text","z":"5a7dc814.2dc7f","group":"a42fa9d9.3afca","order":7,"width":0,"height":0,"name":"","label":"Bearing Org to Dest","format":"{{msg.payload}}","layout":"row-spread","x":834.7666015625,"y":190.98333740234375,"wires":[]},{"id":"3053ed4.c204092","type":"function","z":"5a7dc814.2dc7f","name":"Dest. WP","func":" //convert and format \"Desitiantion way point\"\n \n    msg.payload = msg.Satz[10];\n  \n    return msg;\n ","outputs":1,"noerr":0,"x":563.88330078125,"y":222.88333129882812,"wires":[["d9544314.e52a68"]]},{"id":"d9544314.e52a68","type":"ui_text","z":"5a7dc814.2dc7f","group":"a42fa9d9.3afca","order":1,"width":0,"height":0,"name":"","label":"Destination Waypoint","format":"{{msg.payload}}","layout":"row-spread","x":833.88330078125,"y":220.88333129882812,"wires":[]},{"id":"e25ca4af.0c05d","type":"function","z":"5a7dc814.2dc7f","name":"Bearing Pos2D","func":" //convert and format \"Bearing position to destination\"\n \n \n        var value_in = msg.Satz[12];\n        \n        \n        \n        if ( value_in == \"M\")\n        {\n            msg.payload = msg.Satz[11] + \" mag\";\n        }\n        else\n        {\n           msg.payload = msg.Satz[11] + \" true\";\n            \n        }\n            \n        \n        return msg;\n ","outputs":1,"noerr":0,"x":583.88330078125,"y":254.88333129882812,"wires":[["4519a840.196e3"]]},{"id":"4519a840.196e3","type":"ui_text","z":"5a7dc814.2dc7f","group":"a42fa9d9.3afca","order":2,"width":0,"height":0,"name":"","label":"Bearing Pos to Dest","format":"{{msg.payload}}","layout":"row-spread","x":834.88330078125,"y":252.88333129882812,"wires":[]},{"id":"5d2fd34e.9e6754","type":"comment","z":"5a7dc814.2dc7f","name":"$GPABP","info":"Autopilot Sentence \"B\"","x":396.7666320800781,"y":300.8666687011719,"wires":[]},{"id":"fbdeaf75.35f1","type":"function","z":"5a7dc814.2dc7f","name":"HDG Pos2D","func":" //convert and format \"Heading position to destination\"\n \n        var value_in = msg.Satz[14];\n        \n        \n        \n        if ( value_in == \"M\")\n        {\n            msg.payload = msg.Satz[13] + \" mag\";\n        }\n        else\n        {\n           msg.payload = msg.Satz[13] + \" true\";\n            \n        }\n            \n        \n        return msg;\n ","outputs":1,"noerr":0,"x":574.88330078125,"y":287.8833312988281,"wires":[["adff48ca.8afe3"]]},{"id":"adff48ca.8afe3","type":"ui_text","z":"5a7dc814.2dc7f","group":"a42fa9d9.3afca","order":2,"width":0,"height":0,"name":"","label":"Heading Pos to Dest","format":"{{msg.payload}}","layout":"row-spread","x":834.88330078125,"y":286.8833312988281,"wires":[]},{"id":"5372a087.5f5a3","type":"function","z":"5a7dc814.2dc7f","name":"convert+format UTC","func":" //convert and format \"UTC\"\n // Sentence GGA\n \n        var value_in = msg.Satz[1];\n    \n        msg.payload = value_in.substr(0,2) + ':' + value_in.substr(2,2) + \":\" + value_in.substr(4,2);\n     \n        return [msg];\n ","outputs":1,"noerr":0,"x":1199,"y":70,"wires":[["e0e4753a.aef378"]]},{"id":"e0e4753a.aef378","type":"ui_text","z":"5a7dc814.2dc7f","group":"d4aa084e.1b81c8","order":2,"width":0,"height":0,"name":"UTC","label":"UTC","format":"{{msg.payload}}","layout":"row-spread","x":1387,"y":70,"wires":[]},{"id":"9f9636fb.fed9f","type":"function","z":"5a7dc814.2dc7f","name":"GPS quality","func":"//convert and format \"GPS quality\"\n // Sentence GGA\n \nvar Mesg;\nGPS_Q = msg.Satz[6];\n\nswitch(GPS_Q){\n    case '0': msg.payload = \"fix no available\";\n              break;\n    case '1': msg.payload = \"GPS fix\";\n              break;\n    case '2': msg.payload = \"Differential GPS fix\";\n}\n    return msg;","outputs":1,"noerr":0,"x":1180,"y":99,"wires":[["e7a4c566.b7606"]]},{"id":"e7a4c566.b7606","type":"ui_text","z":"5a7dc814.2dc7f","group":"d4aa084e.1b81c8","order":2,"width":0,"height":0,"name":"GPS quality","label":"GPS quality","format":"{{msg.payload}}","layout":"row-spread","x":1408,"y":100,"wires":[]},{"id":"c6508b9c.208bb","type":"function","z":"5a7dc814.2dc7f","name":"# of sat","func":" //convert and format \"number of satellites\"\n // Sentence GGA\n \n        msg.payload = msg.Satz[7];\n        return [msg];\n ","outputs":1,"noerr":0,"x":1170,"y":131,"wires":[["3b40cbab.d845b4"]]},{"id":"3b40cbab.d845b4","type":"ui_text","z":"5a7dc814.2dc7f","group":"d4aa084e.1b81c8","order":2,"width":0,"height":0,"name":"number of sats","label":"number of sats","format":"{{msg.payload}}","layout":"row-spread","x":1418,"y":131,"wires":[]},{"id":"6f29ff38.90365","type":"comment","z":"5a7dc814.2dc7f","name":"$GPGGA","info":"Global Positioning System Fix Data, \nTime, Position and fix related data \nfor a GPS receiver.","x":502,"y":362,"wires":[]},{"id":"19ff5410.c1d3f4","type":"function","z":"5a7dc814.2dc7f","name":"HDOP","func":"//convert and format \"HDOP\"\n// Horizontal Dilution of precision\n// Sentence GGA\n\n\n msg.payload = msg.Satz[8];\n return [msg];\n ","outputs":1,"noerr":0,"x":1162,"y":162,"wires":[["e5d4a0ff.32ad38"]]},{"id":"e5d4a0ff.32ad38","type":"ui_text","z":"5a7dc814.2dc7f","group":"d4aa084e.1b81c8","order":2,"width":0,"height":0,"name":"HDOP","label":"HDOP","format":"{{msg.payload}}","layout":"row-spread","x":1389,"y":163,"wires":[]},{"id":"bb124ecf.7bf308","type":"function","z":"5a7dc814.2dc7f","name":"Antenna Alt.","func":"//convert and format \"antenna altitude\"\n// Sentence GGA\n// Antenna Altitude above/below mean-sea-level (geoid)\n\n msg.payload = msg.Satz[9];\n return [msg];\n ","outputs":1,"noerr":0,"x":1182.7666320800781,"y":194.16665649414062,"wires":[["45dcdd14.4a4fdc"]]},{"id":"45dcdd14.4a4fdc","type":"ui_text","z":"5a7dc814.2dc7f","group":"d4aa084e.1b81c8","order":2,"width":0,"height":0,"name":"Antenna altitude","label":"Antenna altitude","format":"{{msg.payload}}","layout":"row-spread","x":1418.0833129882812,"y":195.08334350585938,"wires":[]},{"id":"8bcc65e6.bbb04","type":"function","z":"5a7dc814.2dc7f","name":"convert+format XTE","func":" //convert and format Cross Track Error\n \n \n       \n    msg.payload = msg.Satz[2] + \" nm\";\n    return msg;\n ","outputs":1,"noerr":0,"x":1214.88330078125,"y":233.88333129882812,"wires":[["915b89f4.9f9c48"]]},{"id":"53ed5248.cdcc4c","type":"comment","z":"5a7dc814.2dc7f","name":"$GPRMB","info":"","x":531.7666015625,"y":460.066650390625,"wires":[]},{"id":"a0e78287.4fbc38","type":"function","z":"5a7dc814.2dc7f","name":"Steer","func":" //convert and format \"Steer R or L\"\n \n        msg.payload = msg.Satz[3] ;\n        \n        return msg;\n ","outputs":1,"noerr":0,"x":1165.88330078125,"y":265.8833312988281,"wires":[["a7022500.83e6f8"]]},{"id":"c75e1c90.d114a","type":"function","z":"5a7dc814.2dc7f","name":"To WP","func":" //convert and format \"Desitiantion way point\"\n \n    msg.payload = msg.Satz[5];\n  \n    return msg;\n ","outputs":1,"noerr":0,"x":1166.88330078125,"y":331.88330078125,"wires":[["dcf18105.9c4328"]]},{"id":"dcf18105.9c4328","type":"ui_text","z":"5a7dc814.2dc7f","group":"4120cbbe.385394","order":2,"width":0,"height":0,"name":"","label":"To Waypoint","format":"{{msg.payload}}","layout":"row-spread","x":1410.88330078125,"y":331.88330078125,"wires":[]},{"id":"5706f86f.b7b2b","type":"function","z":"5a7dc814.2dc7f","name":"From WP","func":" //convert and format \"Desitiantion way point\"\n \n    msg.payload = msg.Satz[4];\n  \n    return msg;\n ","outputs":1,"noerr":0,"x":1174.88330078125,"y":298.88330078125,"wires":[["b56c9aa7.c88e88"]]},{"id":"b56c9aa7.c88e88","type":"ui_text","z":"5a7dc814.2dc7f","group":"4120cbbe.385394","order":1,"width":0,"height":0,"name":"","label":"From Waypoint","format":"{{msg.payload}}","layout":"row-spread","x":1420.88330078125,"y":298.88330078125,"wires":[]},{"id":"ab6aa89d.f0c95","type":"function","z":"5a7dc814.2dc7f","name":"Dest. WP LAT","func":" //convert and format latitude\n \n        var value_in = msg.Satz[6];\n    \n        msg.payload = value_in.substr(0,2) + '°' + ' ' + value_in.substr(2,5) + \"' \" + msg.Satz[7];\n     \n        return [msg];\n ","outputs":1,"noerr":0,"x":1196,"y":364,"wires":[["9ba57070.be2408"]]},{"id":"9ba57070.be2408","type":"ui_text","z":"5a7dc814.2dc7f","group":"4120cbbe.385394","order":5,"width":"0","height":"0","name":"Dest.WP LAT","label":"Dest.WP LAT","format":"{{msg.payload}}","layout":"row-spread","x":1425,"y":364,"wires":[]},{"id":"2366405d.a0e18","type":"function","z":"5a7dc814.2dc7f","name":"Dest. WP LON","func":"// convert and format longitude\n\n  var value_in = msg.Satz[8];\n        \n  msg.payload = value_in.substr(0,3) + '°' + ' ' + value_in.substr(3,5) + \"' \" + msg.Satz[9];\n  \n  return msg;\n ","outputs":1,"noerr":0,"x":1199,"y":396,"wires":[["c90ca804.ae269"]]},{"id":"c90ca804.ae269","type":"ui_text","z":"5a7dc814.2dc7f","group":"4120cbbe.385394","order":6,"width":0,"height":0,"name":"Dest. WP LON","label":"Dest. WP LON","format":"{{msg.payload}}","layout":"row-spread","x":1423,"y":396,"wires":[]},{"id":"2be125fb.18e792","type":"function","z":"5a7dc814.2dc7f","name":"Range to Dest.","func":"// convert and format longitude\n\nmsg.payload = msg.Satz[10] + ' nm' ;\n  \nreturn msg;\n ","outputs":1,"noerr":0,"x":1199.75,"y":428.75,"wires":[["c6290adb.59aff"]]},{"id":"c6290adb.59aff","type":"ui_text","z":"5a7dc814.2dc7f","group":"4120cbbe.385394","order":7,"width":0,"height":0,"name":"Range to Dest.","label":"Range to Dest.","format":"{{msg.payload}}","layout":"row-spread","x":1422.75,"y":428.75,"wires":[]},{"id":"c0c193be.58da78","type":"function","z":"5a7dc814.2dc7f","name":"BRG to Dest.","func":" //convert and format latitude\n \n        msg.payload = msg.Satz[11]\n        return msg;\n ","outputs":1,"noerr":0,"x":1190,"y":460,"wires":[["17117d3.39dc503"]]},{"id":"17117d3.39dc503","type":"ui_text","z":"5a7dc814.2dc7f","group":"4120cbbe.385394","order":8,"width":"0","height":"0","name":"BRG to Dest.","label":"BRG to Dest.","format":"{{msg.payload}}","layout":"row-spread","x":1419,"y":460,"wires":[]},{"id":"5bc09fb7.683778","type":"function","z":"5a7dc814.2dc7f","name":"VMG to Dest.","func":" //convert and format latitude\n \n        msg.payload = msg.Satz[12];\n        return msg;\n ","outputs":1,"noerr":0,"x":1201,"y":492,"wires":[["7671224e.8a2d24"]]},{"id":"7671224e.8a2d24","type":"ui_text","z":"5a7dc814.2dc7f","group":"4120cbbe.385394","order":9,"width":"0","height":"0","name":"VMG to Dest.","label":"VMG to Dest.","format":"{{msg.payload}}","layout":"row-spread","x":1430,"y":492,"wires":[]},{"id":"bbd8ea87.380b78","type":"function","z":"5a7dc814.2dc7f","name":"Arrival Status","func":" //convert and format latitude\n \n        msg.payload = msg.Satz[13];\n        return msg;\n ","outputs":1,"noerr":0,"x":1202,"y":524,"wires":[["28a4c03c.7f68b"]]},{"id":"28a4c03c.7f68b","type":"ui_text","z":"5a7dc814.2dc7f","group":"4120cbbe.385394","order":10,"width":"0","height":"0","name":"Arrival Status","label":"Arrival Status","format":"{{msg.payload}}","layout":"row-spread","x":1431,"y":524,"wires":[]},{"id":"cde8b081.e24828","type":"function","z":"5a7dc814.2dc7f","name":"Track Degrees true","func":" //convert and format latitude\n \n        msg.payload = msg.Satz[1];\n        return msg;\n ","outputs":1,"noerr":0,"x":1213.75,"y":697.75,"wires":[["1cc63096.3394e7"]]},{"id":"1cc63096.3394e7","type":"ui_text","z":"5a7dc814.2dc7f","group":"4120cbbe.385394","order":11,"width":"0","height":"0","name":"Track Degrees true","label":"Track Degrees (true)","format":"{{msg.payload}}","layout":"row-spread","x":1424.75,"y":697.75,"wires":[]},{"id":"eeb7ded4.f6beb","type":"comment","z":"5a7dc814.2dc7f","name":"$GPVTG","info":"","x":721.7666015625,"y":634.86669921875,"wires":[]},{"id":"295b4cd9.f53704","type":"function","z":"5a7dc814.2dc7f","name":"Track Degrees mag","func":" //convert and format latitude\n \n        msg.payload = msg.Satz[3];\n        return msg;\n ","outputs":1,"noerr":0,"x":1222.88330078125,"y":730.8832702636719,"wires":[["5c49d893.082c78"]]},{"id":"5c49d893.082c78","type":"ui_text","z":"5a7dc814.2dc7f","group":"4120cbbe.385394","order":12,"width":"0","height":"0","name":"Track Degrees (mag)","label":"Track Degrees (mag)","format":"{{msg.payload}}","layout":"row-spread","x":1438.88330078125,"y":731.88330078125,"wires":[]},{"id":"8e55bbcc.aa49","type":"function","z":"5a7dc814.2dc7f","name":"SOG (kn)","func":" //convert and format latitude\n \n        msg.payload = msg.Satz[5] + \" kn\";\n        return msg;\n ","outputs":1,"noerr":0,"x":1182.88330078125,"y":763.4832763671875,"wires":[["233b7fee.f12998"]]},{"id":"233b7fee.f12998","type":"ui_text","z":"5a7dc814.2dc7f","group":"4120cbbe.385394","order":14,"width":"0","height":"0","name":"SOG (kn)","label":"SOG (kn)","format":"{{msg.payload}}","layout":"row-spread","x":1398.88330078125,"y":764.4833068847656,"wires":[]},{"id":"2bbdaac4.66bb66","type":"function","z":"5a7dc814.2dc7f","name":"TransducerData","func":"\"use strict\"\n\nvar NumEntries,i,j;\n\nvar TDValues = [];\n\nNumEntries = (msg.Satz.length - 2)/4;\n\nTDValues[0] = [msg.Satz[8],  msg.Satz[5],  msg.Satz[6],  msg.Satz[7]];\nTDValues[1] = [msg.Satz[4],  msg.Satz[1],  msg.Satz[2],  msg.Satz[3]];\nTDValues[2] = [msg.Satz[16], msg.Satz[13], msg.Satz[14], msg.Satz[15]];\nTDValues[3] = [msg.Satz[20], msg.Satz[17], msg.Satz[18], msg.Satz[19]];\nTDValues[4] = [msg.Satz[12], msg.Satz[9],  msg.Satz[10], msg.Satz[11]];\n\n\n/*\nfor ( i = 1; i <= NumEntries; i++)\n{\n    j = (i-1)*4+1;\n    TDValues[i] = [msg.Satz[j+3],msg.Satz[j+0],msg.Satz[j+1],msg.Satz[j+2]];\n}\n*/\n\nmsg.payload = TDValues;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1204.7666015625,"y":842.3333435058594,"wires":[["d5f3da86.d06d18"]]},{"id":"f6cb7735.2153f8","type":"tcp in","z":"5a7dc814.2dc7f","name":"Get NMEA from Raspi","server":"client","host":"localhost","port":"10110","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":117.88333129882812,"y":291.8833312988281,"wires":[["18023cec.8d985b","3c81d627.56926a"]]},{"id":"d5f3da86.d06d18","type":"ui_template","z":"5a7dc814.2dc7f","group":"2a0f59.9106d8a8","name":"Transducer Data","order":1,"width":"6","height":"6","format":"<table id=\"table\" border=\"1\">\n <tr>\n <th>Name</th> \n <th>Type</th>\n <th>Data</th>\n <th>Unit</th>\n </tr>\n <tbody>\n <tr ng-repeat=\"row in msg.payload\">\n <td ng-repeat=\"item in row\" >{{item}}</td>\n </tr>\n </tbody>\n</table>\n\n","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":1428,"y":840.9999694824219,"wires":[[]]},{"id":"4b2bebe3.8ea5f4","type":"comment","z":"5a7dc814.2dc7f","name":"$IIXDR","info":"","x":996.7666015625,"y":796.066650390625,"wires":[]},{"id":"99d89684.4c8df","type":"function","z":"5a7dc814.2dc7f","name":"depth b. transd. (feet)","func":" // $SDDBT\n // convert and format depth\n \n        msg.payload = msg.Satz[1] + 'f';\n        return msg;\n ","outputs":1,"noerr":0,"x":1224.800048828125,"y":878.2833251953125,"wires":[["e512d7b.794e6a8"]]},{"id":"e512d7b.794e6a8","type":"ui_text","z":"5a7dc814.2dc7f","group":"b873c205.66c3b","order":10,"width":"0","height":"0","name":"Depth (feet)","label":"Depth (feet)","format":"{{msg.payload}}","layout":"row-spread","x":1433.8001098632812,"y":878.2833557128906,"wires":[]},{"id":"411936a4.9626d8","type":"function","z":"5a7dc814.2dc7f","name":"depth b. transd. (meter)","func":" // $SDDBT\n // convert and format depth\n \n        msg.payload = msg.Satz[3] + 'm ';\n        return msg;\n ","outputs":1,"noerr":0,"x":1225.800048828125,"y":910.2833251953125,"wires":[["b4fca26c.0ba388"]]},{"id":"b4fca26c.0ba388","type":"ui_text","z":"5a7dc814.2dc7f","group":"b873c205.66c3b","order":10,"width":"0","height":"0","name":"Depth (meter)","label":"Depth (meter)","format":"{{msg.payload}}","layout":"row-spread","x":1434.8001098632812,"y":910.2833557128906,"wires":[]},{"id":"a4000ae3.d3743","type":"function","z":"5a7dc814.2dc7f","name":"depth b. transd. (fathoms)","func":" // $SDDBT\n // convert and format depth\n \n        msg.payload = msg.Satz[5] + 'fth';\n        return msg;\n ","outputs":1,"noerr":0,"x":1235.800048828125,"y":941.2833251953125,"wires":[["2476e903.cd959e"]]},{"id":"2476e903.cd959e","type":"ui_text","z":"5a7dc814.2dc7f","group":"b873c205.66c3b","order":10,"width":"0","height":"0","name":"Depth (fathoms)","label":"Depth (fathoms)","format":"{{msg.payload}}","layout":"row-spread","x":1444.8001098632812,"y":941.2833251953125,"wires":[]},{"id":"309e8492.94ff44","type":"comment","z":"5a7dc814.2dc7f","name":"$SDDBT","info":"","x":965.36669921875,"y":860,"wires":[]},{"id":"ab874af6.1e5f8","type":"function","z":"5a7dc814.2dc7f","name":"Depth of Water","func":" // $SDDPT\n // convert and format depth\n // \n \n        msg.payload = msg.Satz[2] + ' ' + msg.Satz[1] + \"m\" ;\n        return msg;\n ","outputs":1,"noerr":0,"x":1221.75,"y":1008.75,"wires":[["e286b692.356ec"]]},{"id":"e286b692.356ec","type":"ui_text","z":"5a7dc814.2dc7f","group":"b873c205.66c3b","order":10,"width":"0","height":"0","name":"Depth of Water","label":"Depth of Water","format":"{{msg.payload}}","layout":"row-spread","x":1524.75,"y":1008.75,"wires":[]},{"id":"1ff025db.9dfeba","type":"comment","z":"5a7dc814.2dc7f","name":"$SDDPT","info":"","x":989.75,"y":949.75,"wires":[]},{"id":"5b0f4fe1.438808","type":"function","z":"5a7dc814.2dc7f","name":"convert+format VHW","func":"/* convert and format VHW velocity, heading through water\n*  Sentence:\n        Degrees True\n        'T'\n        Degrees Magnetic\n        'M'\n        knots, speed relative to the water\n        'K'\n        kilometers, speed relative to water\n        'K'\n*/\n  \n        var Vhw = new Object();\n        \n        Vhw.tHdg = msg.Satz[1] + '°' + msg.Satz[2];\n        Vhw.mHdg = msg.Satz[3] + '°' +  msg.Satz[4];\n        Vhw.knSpd= msg.Satz[5] + '°' + 'kn';\n        Vhw.kmSpd= msg.Satz[7] + '°' +  'km';\n    \n        return [Vhw];\n        ","outputs":1,"noerr":0,"x":1243.75,"y":1193.75,"wires":[["5813acb1.362fe4","ebbc033f.b70548","3be113b6.6f4e2c","c8a90e1e.7834b8"]]},{"id":"5813acb1.362fe4","type":"ui_text","z":"5a7dc814.2dc7f","group":"80ebb8ca.268e48","order":0,"width":0,"height":0,"name":"HDG (true)","label":"HDG (true)","format":"{{msg.tHdg}}","layout":"row-spread","x":1514.75,"y":1190.75,"wires":[]},{"id":"ebbc033f.b70548","type":"ui_text","z":"5a7dc814.2dc7f","group":"80ebb8ca.268e48","order":0,"width":0,"height":0,"name":"HDG (mag)","label":"HDG (mag)","format":"{{msg.mHdg}}","layout":"row-spread","x":1514.75,"y":1223.75,"wires":[]},{"id":"3be113b6.6f4e2c","type":"ui_text","z":"5a7dc814.2dc7f","group":"80ebb8ca.268e48","order":0,"width":0,"height":0,"name":"Speed trough Water (kn)","label":"Speed trough Water (kn)","format":"{{msg.knSpd}}","layout":"row-spread","x":1555.75,"y":1254.75,"wires":[]},{"id":"17f0cc42.dc0204","type":"function","z":"5a7dc814.2dc7f","name":"Water temp.","func":"/*\nUnclear why some sentences other than \"MTW\"\nare in this channel. Kill them.\n*/\n\nif ( msg.Satz[0] !== '$SDMTW')\n    msg = null;\nelse \n    msg.payload = msg.Satz[1] + '°' + msg.Satz[2];\n        \nreturn msg;","outputs":1,"noerr":0,"x":1214,"y":1146,"wires":[["130b8f90.e7cf3"]]},{"id":"130b8f90.e7cf3","type":"ui_text","z":"5a7dc814.2dc7f","group":"b873c205.66c3b","order":10,"width":"0","height":"0","name":"Water temp.","label":"Water temp.","format":"{{msg.payload}}","layout":"row-spread","x":1517.066650390625,"y":1151.683349609375,"wires":[]},{"id":"c8a90e1e.7834b8","type":"ui_text","z":"5a7dc814.2dc7f","group":"80ebb8ca.268e48","order":0,"width":0,"height":0,"name":"Speed trough Water (km)","label":"Speed trough Water (km)","format":"{{msg.kmSpd}}","layout":"row-spread","x":1556.88330078125,"y":1287.88330078125,"wires":[]},{"id":"684485c.d7c62fc","type":"function","z":"5a7dc814.2dc7f","name":"Dist.travelled tr. water","func":"/* $SDVLW\n   Distance Traveled through Water\n\nDisclaimer: VLW is not conistently documented.\nMost docs describe only two values \n - \"Total cumulative distance\"\n - \"distance since Reset\" \n plus units each.\n I found this:\n \n$--VLW,x.x,N,x.x,N,x.x,N,x.x,N*hh<CR><LF>\n    $--: Talker identifier*\n    VLW: Sentence formatter*\n    x.x,N: Total cumulative water distance, nautical miles*\n    x.x,N: Water distance since reset, nautical miles*\n    x.x,N: Total cumulative ground distance, nautical miles*\n    x.x,N: Ground distance since reset, nautical miles*\n    *hh: Checksum*\n\n */\n\n        var Vlw = {}; \n     \n        Vlw.ToWD = msg.Satz[1] + ' nm';\n        Vlw.TrWD = msg.Satz[3] + ' nm';\n        Vlw.ToGD = msg.Satz[5] + ' nm';\n        Vlw.TrGD = msg.Satz[7] + ' nm';\n    \n        return [Vlw];\n        \n ","outputs":1,"noerr":0,"x":1242.88330078125,"y":1332.4834594726562,"wires":[["c10da592.4f37c","e849f18b.c245c","cec3d0c1.e4f26","bb7dbf92.66eb98"]]},{"id":"c10da592.4f37c","type":"ui_text","z":"5a7dc814.2dc7f","group":"6bf1321f.b0cc0c","order":3,"width":"0","height":"0","name":"Total water dist.","label":"Total water dist.","format":"{{msg.ToWD}}","layout":"row-spread","x":1542.88330078125,"y":1336.4834594726562,"wires":[]},{"id":"bb7dbf92.66eb98","type":"ui_text","z":"5a7dc814.2dc7f","group":"6bf1321f.b0cc0c","order":2,"width":"0","height":"0","name":"Trip ground Dist.","label":"Trip ground Dist.","format":"{{msg.TrGD}}","layout":"row-spread","x":1557.5333251953125,"y":1432.0831909179688,"wires":[]},{"id":"cec3d0c1.e4f26","type":"ui_text","z":"5a7dc814.2dc7f","group":"6bf1321f.b0cc0c","order":4,"width":"0","height":"0","name":"Total Ground Dist.","label":"Total Ground Dist.","format":"{{msg.ToGD}}","layout":"row-spread","x":1555.5333251953125,"y":1399.0831909179688,"wires":[]},{"id":"e849f18b.c245c","type":"ui_text","z":"5a7dc814.2dc7f","group":"6bf1321f.b0cc0c","order":1,"width":"0","height":"0","name":"Trip water dist.","label":"Trip water dist.","format":"{{msg.TrWD}}","layout":"row-spread","x":1545.5333251953125,"y":1367.083251953125,"wires":[]},{"id":"915b89f4.9f9c48","type":"ui_text","z":"5a7dc814.2dc7f","group":"f737940a.091fa","order":1,"width":0,"height":0,"name":"XTE","label":"XTE","format":"{{msg.payload}}","layout":"row-spread","x":1390.75,"y":232.75,"wires":[]},{"id":"a7022500.83e6f8","type":"ui_text","z":"5a7dc814.2dc7f","group":"f737940a.091fa","order":1,"width":0,"height":0,"name":"Steer","label":"Steer","format":"{{msg.payload}}","layout":"row-spread","x":1392.75,"y":266.75,"wires":[]},{"id":"3c81d627.56926a","type":"debug","z":"5a7dc814.2dc7f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":275,"y":164,"wires":[]},{"id":"dba250c2.a38e","type":"ui_gauge","z":"5a7dc814.2dc7f","name":"","group":"14662dc8.fe53c2","order":2,"width":0,"height":0,"gtype":"gage","title":"Speed Over Ground","label":"units","format":"{{msg.payload}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":575.36669921875,"y":1015.25,"wires":[]},{"id":"68ef7eef.58ad","type":"ui_gauge","z":"5a7dc814.2dc7f","name":"COG","group":"14662dc8.fe53c2","order":1,"width":0,"height":0,"gtype":"compass","title":"Course over Ground","label":"","format":"{{msg.payload}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":529,"y":1053,"wires":[]},{"id":"4acb8a4f.356994","type":"ui_group","z":"","name":"Navigation Data","tab":"4f19dbb7.21e054","order":1,"disp":true,"width":"6","collapse":true},{"id":"80ebb8ca.268e48","type":"ui_group","z":"","name":"Compass","tab":"4f19dbb7.21e054","order":2,"disp":true,"width":"6","collapse":true},{"id":"a42fa9d9.3afca","type":"ui_group","z":"","name":"Routing Data","tab":"2eabb7f8.499d3","order":4,"disp":true,"width":"6","collapse":true},{"id":"d4aa084e.1b81c8","type":"ui_group","z":"","name":"Satellite Data","tab":"5f219eac.50bbe8","order":3,"disp":true,"width":"6","collapse":true},{"id":"4120cbbe.385394","type":"ui_group","z":"","name":"RMB","tab":"2eabb7f8.499d3","order":2,"disp":true,"width":"6","collapse":true},{"id":"2a0f59.9106d8a8","type":"ui_group","z":"","name":"Transducer Data","tab":"5f219eac.50bbe8","order":2,"disp":true,"width":"6","collapse":true},{"id":"b873c205.66c3b","type":"ui_group","z":"","name":"Dephts","tab":"4f19dbb7.21e054","order":5,"disp":true,"width":"6","collapse":true},{"id":"6bf1321f.b0cc0c","type":"ui_group","z":"","name":"Trip","tab":"2eabb7f8.499d3","order":3,"disp":true,"width":"6","collapse":false},{"id":"f737940a.091fa","type":"ui_group","z":"","name":"not in use","tab":"5f219eac.50bbe8","order":3,"disp":true,"width":"6","collapse":false},{"id":"14662dc8.fe53c2","type":"ui_group","z":"","name":"Group 1","tab":"4f9fea65.425654","order":1,"disp":true,"width":"6","collapse":false},{"id":"4f19dbb7.21e054","type":"ui_tab","z":"","name":"Basic Data","icon":"dashboard","order":2},{"id":"2eabb7f8.499d3","type":"ui_tab","z":"","name":"Routing Data","icon":"dashboard","order":3},{"id":"5f219eac.50bbe8","type":"ui_tab","z":"","name":"Other stuff","icon":"dashboard","order":4},{"id":"4f9fea65.425654","type":"ui_tab","z":"","name":"Routing","icon":"dashboard","order":1}]
